body{
    
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

 
   

html {
    font-family: 'Oswald', sans-serif;
}
.topper {
    display: flex;
  justify-content: center;
  
}

nav a {
    
    text-decoration:double;
    color: rgb(53, 53, 53);
    padding-left: 4em;
    padding-right: 4em;
    opacity: 1;
    position: relative;
    
}
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
nav {
    background-color: #ffffffd2;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 0%;      
}


.imager img {
     width:100%;
}
.embed {
    float:left;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-right: 17.5%;
    padding-top: 5%;
}

.bodyText{
    color: rgb(61, 61, 61);
    font-size: 22px;
    max-width: 40%;
    line-height: 27pt;
    overflow: hidden;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    
}

.mover h1 {
    padding-top: 12%;
}


h3 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 5.5%;
    
}

.photoAbout {
    float:left;
    padding-left: 8%;
}

main {
    padding-top: 4%;
    padding-bottom: 20%;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 3s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

#section-left {
    overflow:hidden;
    background-color: rgba(255, 255, 255, 0.664);
    color: aliceblue;

   

}
#section-right {
    width: 50%;
    
    float:right;
    background-color: rgba(255, 255, 255, 0.664);
    
}

#section-left2 {
  overflow:hidden;
  background-color: rgba(255, 255, 255, 0.664);
  color: aliceblue;

 

}
#section-right2 {
  width: 50%;
  
  float:right;
  background-color: rgba(255, 255, 255, 0.664);
  
}
#section-left1 {
    overflow:hidden;
    background-color: rgba(255, 255, 255, 0.664);
    color: aliceblue;

   

}
#section-right1 {
    width: 50%;
    
    float:right;
    background-color: rgba(255, 255, 255, 0.664);
    
}

h4{
    
   
    color: rgb(47, 47, 47);
   text-align: center;
    line-height: 18pt;
}
h5 {
    
   
    color: rgb(47, 47, 47);
    padding-bottom: 1%;
  text-align: center;
    line-height: 18pt;
}

h2 {
  padding-bottom: 3%;
}


:root {
  --primary-color: #000000;
  
}

.btn:hover {
  transform: scale(0.98);
}

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2rem;
  font-weight: 700;
  z-index: 20;
}

/* TOGGLE */
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: var(--primary-color) url(image/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}

.toggle.active {
  background: var(--primary-color) url(image/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

/* NAVIGATION */
.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 20%;
}

.navigation ul li a {
  font-size: 2.2rem;
  color: #111;
  text-decoration: none;
  font-weight: 300;
  
}

.navigation ul li a:hover {
  color: var(--primary-color);
}

.moving {
  display: flex;
  justify-content: center;
  
 }

footer{ 
     
  display: flex;
  justify-content: center;
  bottom: 0px; 
  width: 100%;
  padding-bottom: 5%;
  
} 


@media (min-width: 1100px) {
.toggle {
    display: none;
}

.mobile {
  display: none;
}
}

@media (max-width: 1100px) {
    nav {
        display: none;
    }

    .embed {
        display: none;
    }

    .pc {
      display: none;
    }

    .moving {
      display: none;
    }
.bodyText {
    color: rgb(61, 61, 61);
    font-size: 1rem;
    max-width: 90%;
    
    overflow: hidden;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}

.topper img {
    width: 100%;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 3s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.moving {
 display: flex;
 justify-content: center;
 padding-right: 5%;
}


}