<footer class="footer">
    <div class="footer-container">
        <div class="footer-section services">
            <h3>SERVICES</h3>
            <div class="service-columns">
                <ul>
                    <li>Detailing</li>
                    <li>Ceramic Coating</li>
                    <li></li>Paint Corrections</li>
                    <li>Window Tint</li>
                    <li>RV Detailing</li>
                </ul>
                <ul>
                    <li>Boat Detailing</li>
                    <li>Motorcycles</li>
                </ul>
            </div>
        </div>
        <div class="footer-section blacklogo">
            <a href="index.html">
              <img src="images/footer/logo-black.png" alt="NSA Logo", class="black-logo">
            </a>
        </div>
        <div class="footer-section information">
            <div class="hours-contact">
                <div class="footer-hours">
                    <p>HOURS</p>
                    <p>Saturday - Sunday &nbsp; 8am - 4pm</p>
            </div>
            <div class="footer-contact">
                <p>CONTACT</p>
                <p>
                    <a href="mailto:natesmithautodetailing@gmail.com">
                        natesmithautodetailing@gmail.com
                    </a>
                </p>
                <p>Call or Text: (978) 302-5083</p>
                <p>ADDRESS</p>
                <p>239 Douglas Rd, Whitinsville, MA 01588</p>
            </div>
            <div class="social-icons">
                <a href="https://www.facebook.com/natesmithautodetailing/"><img src="images/footer/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/natesmith_autodetailing/"><img src="images/footer/instagram.png" alt="Instagram"></a>
                <a href="https://www.youtube.com/@natesmithautodetailing13"><img src="images/footer/youtube.png" alt="YouTube"></a>
            </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 NATE SMITH AUTO DETAILING, INC. ALL RIGHTS RESERVED.</p>
      </div>
  </footer>