<div class="reusable-content-section">
    <div class="reusable-text-section">
        <h3 class="reusable-section-title"></h3>
        <h4 class="reusable-section-prices">Starting Prices</h4>
        <ul class="reusable-section-prices-list"></ul>
        <h2 class="reusable-section-included">What's Included</h2>
        <ul class="reusable-section-included-list"></ul>
        <p class="reusable-section-additional"></p>
    </div>
    <div class="reusable-slideshow-section">
        <div class="reusable-slideshow-container"></div>
    </div>
</div>